---
import type { Blog } from "@/content.config";

interface Props {
  id: string;
  blog: Blog;
  views: number;
}

const { id, blog, views } = Astro.props;
---


<a href={`/blog/${id}`}>
  <article class="p-4 md:p-8" tabindex={-1}>
    <div class="flex justify-between gap-2 items-center">
      <span class="text-xs duration-1000 text-zinc-200 group-hover:text-white group-hover:border-zinc-200 drop-shadow-orange">
        {blog.date ? (
          <time datetime={new Date(blog.date).toISOString()}>
            {Intl.DateTimeFormat(undefined, { dateStyle: "medium" }).format(
              new Date(blog.date)
            )}
          </time>
        ) : (
          <span>SOON</span>
        )}
      </span>
      {/* <span class="text-zinc-500 text-xs flex items-center gap-1">
        <Eye class="w-4 h-4" />{" "}
        {Intl.NumberFormat("en-US", { notation: "compact" }).format(views)}
      </span> */}
    </div>
    <h2
    class="z-20 text-xl font-medium duration-1000 lg:text-3xl text-zinc-200 group-hover:text-white font-display"
    transition:name={`blog-title-${blog.title}`}
    >
      {blog.title}
    </h2>
    <p class="z-20 mt-4 text-sm duration-1000 text-zinc-400 group-hover:text-zinc-200"
    transition:name={`blog-desc-${blog.title}`}
    >
      {blog.description}
    </p>
  </article>
</a>
