---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import { SITE_TITLE } from "../consts";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
	description: string;
	image?: string;
}

const baseUrl = Astro.site?.toString() || "https://www.nandanvarma.com";
const canonicalURL = new URL(Astro.url.pathname, baseUrl);

const { title, description, image = "/og.png" } = Astro.props;
const imageUrl = new URL(image, Astro.url.toString().startsWith('http') ? Astro.url : baseUrl);
const rssUrl = new URL("rss.xml", baseUrl);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href="/favicon.png" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_TITLE}
	href={rssUrl}
/>
<meta name="generator" content={Astro.generator} />

<!-- Additional Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

<!-- Font preloads -->

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imageUrl} />

<!-- view transitions -->
<ClientRouter />

<!-- analytics -->
<script
	is:inline
	async
	fetchpriority="low"
	data-domain="nandanvarma.com"
	src="https://plausible.nandanvarma.com/js/script.outbound-links.tagged-events.js"
></script>
<script is:inline>
	window.plausible =
		window.plausible ||
		function () {
			(window.plausible.q = window.plausible.q || []).push(arguments);
		};
</script>
